# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
.Python
*.so
.eggs/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Data (скачивается отдельно)
data/raw/

# Модели и артефакты (большие файлы)
models/*.pt
reports/*.pt

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Env
.env
.env.local
